snippet st
  "use strict"
snippet desc
  describe '${1:title}', ->
      ${2:code}
snippet context
  context '${1:title}', ->
      ${2:code}
snippet it
  it '${1:write spec}', ->
      ${2:code}
snippet xdesc
  xdescribe('${1:title}', ->
      ${2:code}
snippet xit
  xit('${1:write spec}', ->
      ${2:code}
snippet beforeEach
  beforeEach ->
      ${1:code}
snippet afterEach
  afterEach ->
      ${1:code}
