snippet date
    `strftime("%Y-%m-%d")`
snippet time 
  _time: ${1:1}h ordered: ${2:e2esound}_
snippet gist
	<script src="https://gist.github.com/${1:id}.js"></script>
snippet link
  [${1:name}](${2:http://~} "${3:title}")
snippet link2
  [${1:name}][${2:id}]
snippet linkf
  [${1}]: ${2:http://~} "${3:title}"
snippet img
  ![${1:name}](${2:http://~} "${3:alt}")
snippet img2
  ![${1:name}][${2:id}]
snippet imgf
  [${1}]: ${2:http://~} "${3:title}"
snippet hr
  ---
